body{
    background-color: rgb(88, 88, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    color: white;
    text-align: center;
}
section{
    margin: 0 auto;
    width: 500px;
    border-radius: 0.8rem;
    background-color: white;
    padding: 1rem;
}

input{
    margin: 0.5rem;
    
}

footer {
    font-style: italic;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover{
    text-decoration: underline;
}
