body{
    background-color: rgb(88, 88, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    color: white;
    text-align: center;
}
section{
    margin: auto;
    width: 30rem;
    border-radius: 0.8rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.678);
}


footer {
    font-style: italic;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover{
    text-decoration: underline;
}
