body{
    background-color: rgb(59, 106, 192);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
}

div {
    text-align: center;
}

#foto{
    padding: 25px;
}

#cumprimento {
    font-weight: bold;
}

footer {
    font-style: italic;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover{
    text-decoration: underline;
}